@import './var.scss';

.modal {
    // width: 800px;
    // height: 500px;
    display: none;
    background-color: rgb(241, 253, 255);
    border-radius: 1.5rem;
    position: fixed;
    z-index: 200;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 60%;
    height: 60%;
    padding: 1rem;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);

    .modal-title-container {
        text-align: center;
        // margin: 0 0 1rem 0;
        display: flex;
        justify-content: center;
        align-items: center;
        // gap: 2rem;
        // padding-right: 5%;
        font: inherit;
        .destination-title {
            text-transform: uppercase;
        }
    }

    .country-intro-container {
        font: inherit;
        width: 100%;
        height: 75%;
        margin: 2rem 0 1rem 0;
        // display: flex;
        // justify-content: center;
        // align-items: center;
        // gap: 3rem;

        .city-tourism-image {
            width: 100%;
            height: 100%;
            background-position: center;
            background-size: contain;
            background-color: lawngreen;
            position: relative;
            font:inherit;
            border-radius: 1.5rem;
            z-index: 0;
            .overlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 1.5rem;
                z-index: 10;
                background-color: rgba(0, 0, 0, 0.4);
            }
        }

        .country-intro {
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 10;
            color: white;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            padding: 1.5rem 1.5rem;

            .destination-context-date {
                font: inherit;
                font-size: 1.2rem;
                margin-bottom: 0.5rem;
                font-weight: 100;
            }
            .destination-context-duration {
                font: inherit;
                font-size: 1.2rem;
                font-weight: 100;
            }
            .destination-context-weather {
                font: inherit;
                font-size: 5rem;
                font-weight: 500;
            }
            .destination-context-weatherCondition {
                font: inherit;
                font-size: 1.5rem;
                font-weight: 300;
                margin-bottom: 0.5rem;
            }
        }
    }
    .modal-action-container {
        color: white;
        font: inherit;
        padding: 0.7rem 3rem;
        border-radius: 1.5rem;
        // border: 1px solid #0e4f1f;
        border: none;
        background: $primary;
        outline: none;
        cursor: pointer;
        margin: 0 auto;
        display: block;
    }
}

.backdrop {
    position: fixed;
    // display: none;
    top: 0;
    left: 0;
    z-index: 100;
}

@media (max-width:40rem) {

    .modal-title-container {
        .destination-title {
            font-size: 1.5rem;
        }
    }
    .modal {
        width: 80%;
        height: 70%;
        .country-intro-container {
            .country-intro {
                .destination-context-date {
                    font-size: 0.7rem;
                }
                .destination-context-duration {
                    font-size: 0.7rem;
                }
                .destination-context-weather {
                    font-size: 3rem;
                    position: absolute;
                    top: 5%;
                }
                .destination-context-weatherCondition {
                    font-size: 1rem;
                }
            }
        }
    }
}